<header>
  <nav>
    <ul>
      <li>
        <a href="/" aria-label="Link to home page">Home</a>
      </li>
      <li>
        <a href="/about" aria-label="Link to about page">About</a>
      </li>
      <li>
        <a href="/blog" aria-label="Link to blog page">Blog</a>
      </li>
    </ul>
  </nav>
</header>
